.main_chat
  - if @group.present?
    .area
      .area__box
        %h2.area__box__group-name
          = @group.name
        %ul.area__box__menber
          Menber:
          - @members.each do |member|
            %li.area__box__menber__name
              = member.name
      .area__edit
        = link_to edit_group_path(@group) do
          Edit
    .message-list
      = render @messages
    .message-form
      = form_for [@group, @message],html: {class: "new-message"} do |f|
        .message-area
          = f.text_field :content, class: 'message-area__input-text', placeholder: 'type a message'
          = f.label :image, class: 'message-area__image' do
            = icon('fa', 'image')
            = f.file_field :image, class: 'message-area__image__file'
        = f.submit 'Send', class: 'btn'      